html {
    --simple-border: 1px solid black;
    --pad-one: 1rem;
    --pad-half: 0.5rem;
}

td {
    padding: var(--pad-half);
}

td.center {
    text-align: center;
}

input[type="range"] {
    margin: 0;
}

.player-status {
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    transform: translateY(0.125em);
}

.player-status.ok {
    background-color: var(--green);
}

.player-status.warn {
    background-color: var(--yellow);
}

.player-status.err {
    background-color: var(--red);
}

.container {
    margin: var(--pad-one);
    position: relative;
}

.container-heading {
    font-weight: bold;
    text-align: center;
}

.container-controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
        flex: 1 1 auto;
        text-align: center;
    }

    > * + * {
        border-left: var(--simple-border);
    }
}

.container-segment _ {
    padding: var(--pad-half);
}

.container-segment:not(:last-child) {
    border-bottom: var(--simple-border);
}

.floating-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.simple-border {
    border: var(--simple-border);
}

.padded {
    padding: var(--pad-one);
}

.padhalf {
    padding: var(--pad-half);
}

.card {
    aspect-ratio: 5 / 7;
    box-sizing: border-box;
    display: inline-block;
    object-fit: contain;
    padding: var(--pad-half);
}

.card.selected {
    border: 2px solid var(--selected);
}

.link-button {
    color: lightslategrey;
    cursor: pointer;
    padding-left: var(--pad-half);
}